@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure Monitor</h1>
    <p>Let's learn about:</p>
</div>

<div class="text-center">
    <p><a href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics">Application Insights for ASP.NET Core applications</a></p>
</div>
